<div class="card d-flex mb-2">
  <h5 class="card-header"><%= name %></h5>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3 form-label">
        <p>Client Name:</p>
      </div>
      <div class="col-sm-6">
        <%= config["clientname"] %>
      </div>
    </div>
  </div>
</div>
