<% content_for(:title) { 'VPN Management' } %>

<div class="center mt-3" style="width: 90%;">
  <% @slots.each do |slot, configuration| %>
    <div class="row">
      <div class="center w-75">
        <% if configuration.empty? %>
          <%= render 'unconfigured_vpn_card', name: slot %>
        <% else %>
          <%= render 'configured_vpn_card',
                      name: slot,
                      client_name: configuration["clientname"],
                      status: if configuration["connstatus"]
                                { text: 'Online', class: 'text-success' }
                              else
                                { text: 'Offline', class: 'text-danger' }
                              end,
                      client_script: configuration["script"]
          %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
