<div class="btn-group-vertical d-flex center" style="width: 30%;">
  <%= link_to 'Start VPN',
              vpn_start_path,
              method: :post,
              class: 'btn btn-primary'
  %>
  <%= link_to 'Restart VPN',
              vpn_restart_path,
              method: :post,
              class: 'btn btn-primary'
  %>
  <%= link_to 'Stop VPN',
              vpn_stop_path,
              method: :post,
              class: 'btn btn-danger'
  %>
</div>
