<div>
  <%= button_to 'Start VPN', vpn_start_path, method: :post %>
  <%= button_to 'Stop VPN', vpn_stop_path, method: :post %>
  <%= button_to 'Restart VPN', vpn_restart_path, method: :post %>
</div>
