<% content_for(:title) { 'User Management' } %>

<div class="row center mt-3" style="width: 90%;">
  <div class="col" style="min-width: 60%;">
    <%= render 'user_creation_form' %>
  </div>

  <div class="col">
    <%= render 'existing_users' %>
  </div>
</div>

<div id="modifyModal" class="modal fade" role="dialog">
  <%= render 'modify_user' %>
</div>
