<div class="card d-flex center mb-2">
  <h5 class="card-header">Engineering Mode</h5>
  <div class="card-body">
    <div class="btn-group d-flex">
      <%= link_to 'Enable Engineering Mode',
                  cluster_enable_engineering_mode_path,
                  class: 'btn btn-primary',
                  style: 'width: 50%;',
                  method: :post
      %>
    </div>
  </div>
</div>
