<div class="card d-flex center">
  <h5 class="card-header">VPN Management</h5>
  <div class="card-body">
    <h5 class="card-title <%= @active ? 'text-success' : 'text-danger' %>">
      <i class="fa fa-circle mr-2" aria-hidden="true"></i>
      <%= @active ? 'Active' : 'Inactive' %>
    </h5>
    <div class="btn-group d-flex">
      <% ['start', 'restart', 'stop'].each do |action| %>
        <%= link_to action.capitalize,
                    public_send("vpn_#{action}_path"),
                    method: :post,
                    class: "btn #{action == 'stop' ? 'btn-danger' : 'btn-primary' }",
                    style: 'width: 33%;'
        %>
      <% end %>
    </div>
  </div>
</div>
