<div class="row center mt-3" style="width: 90%;">
  <div class="card" style="width: 70%;">
    <h5 class="card-header">Information</h5>
    <div class="card-body">
      <%= @content.html_safe %>
    </div>
  </div>
  <div class="col">
    <div>
      <%= render 'vpn_controls' %>
    </div>
  </div>
</div>
