.relative-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.filter-bar {
  position: absolute;
  top: 10%;
  right: 0;
}

.asset-name {
  white-space: nowrap;
  padding: 0px 4px;
}

.dropdown-toggle::after {
  float: right;
  margin-top: 0.7rem !important;
  margin-right: 0.4rem !important;
}
